.header{
  display: flex;
  justify-content: space-between;
}
.header__conteudo{
  display: flex;
  gap: 20px;
}
.menu{
  display: flex;
  gap: 30px;
  list-style-type: none;
}
.Container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: red;
}
.footer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: purple;
  background-color: black;
}
